<div class="modal-header">
  <h4 class="modal-title pull-left">{{ title }}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="editForm" (ngSubmit)="editSquad()" class="form">
    <div class="form-group">
      <label for="seasonId">Season</label>
      <ng-select [items]="seasons" [selectOnTab]="true" [clearable]="false" bindValue="id" bindLabel="name" placeholder="Select Season"
        formControlName="seasonId">
      </ng-select>
    </div>
    <div class="form-group">
      <label for="clubId">Club</label>
      <ng-select [items]="clubs" [selectOnTab]="true" [clearable]="false" bindValue="id" bindLabel="name" placeholder="Select Club"
        formControlName="clubId">
      </ng-select>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-block btn-primary" (click)="editSquad()" [disabled]="editForm.invalid">OK</button>
</div>