<div class="modal-header">
  <h4 class="modal-title pull-left">{{ title }}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="addForm" (ngSubmit)="addPlayer()" class="form">
    <div class="form-group">
      <label for="playerId">Player</label>
      <ng-select [items]="players" [selectOnTab]="true" [clearable]="false" bindValue="id" bindLabel="name" [addTag]="false"
        [typeahead]="playerSearch$" placeholder="Search Player" formControlName="playerId">
      </ng-select>
    </div>
    <div class="form-group">
      <label for="number">Number</label>
      <input type="number" id="name" class="form-control" formControlName="number" placeholder="Number">
    </div>
    <div class="form-group">
      <label for="startDate">Start Date</label>
      <input bsDatepicker type="text" id="startDate" class="form-control" formControlName="startDate" placeholder="Start Date">
    </div>
    <div class="form-group">
      <label for="endDate">End Date</label>
      <input bsDatepicker type="text" id="endDate" class="form-control" formControlName="endDate" placeholder="End Date">
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-block btn-primary" (click)="addPlayer()" [disabled]="addForm.invalid">Add</button>
</div>