<div class="container mt-3">
  <h1 class="text-center">Match Detail</h1>
  <div class="row mt-3">
    <div class="col-md-5">
      <span class="club d-flex flex-row justify-content-md-end justify-content-center align-items-center">
        <a class="club-name text-right font-weight-bold" [routerLink]="['/clubs', match.homeClub.id]">
          {{ match.homeClub.name }}
        </a>
        <img class="club-photo img-fluid" [src]="match.homeClub.photoUrl" [alt]="match.homeClub.name">

      </span>
    </div>
    <div class="col-md-2 d-flex justify-content-center align-items-center">
      <span *ngIf="!match.isPlayed" class="info font-weight-bold">TBC</span>
      <span *ngIf="match.isPlayed" class="info font-weight-bold">
        {{ match.homeScore }} - {{ match.awayScore }}
      </span>
    </div>
    <div class="col-md-5">
      <span class="club d-flex flex-md-row flex-row-reverse justify-content-md-start justify-content-center align-items-center">
          <img class="club-photo" [src]="match.awayClub.photoUrl" [alt]="match.awayClub.name">

        <a class="club-name font-weight-bold" [routerLink]="['/clubs', match.awayClub.id]">
          <span>{{ match.awayClub.name }}</span>
        </a>
      </span>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-3">
      <div class="card mt-3">
        <div class="card-header">
          <span class="font-weight-bold">Overview</span>
        </div>
        <div class="card-body">
          <i class="fa fa-hashtag"></i><span class="font-weight-bold"> Round: </span>
          <span>{{ match.round }}</span>
          <hr>
          <i class="fa fa-clock-o"></i><span class="font-weight-bold"> Time: </span>
          <span>{{ match.matchTime | date:'hh:mm' }}</span>
          <hr>
          <i class="fa fa-calendar"></i><span class="font-weight-bold"> Date: </span>
          <span>{{ match.matchTime | date:'mediumDate' }}</span>
          <hr>
          <i class="fa fa-map-marker"></i><span class="font-weight-bold"> Stadium: </span>
          <span>{{ match.homeClub.homeField }}</span>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card mt-3">
        <div class="card-header">
          <span class="font-weight-bold">Goals</span>
        </div>
        <div class="card-body">
          <app-match-goals [match]="match"></app-match-goals>
        </div>
      </div>
      <div class="card mt-3">
        <div class="card-header">
          <span class="font-weight-bold">Cards</span>
        </div>
        <div class="card-body">
        </div>
      </div>
    </div>
  </div>
</div>