<div class="modal-header">
  <h4 class="modal-title pull-left">{{ title }}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="editForm" (ngSubmit)="editManager()" class="form">
    <div class="form-group">
      <label for="managerId">Manager</label>
      <input type="managerId" id="managerId" class="form-control" [value]="rowData.cells['name'].value" placeholder="Manager"
        [attr.disabled]="true">
    </div>
    <div class="form-group">
      <label for="startDate">Start Date</label>
      <input bsDatepicker type="text" id="startDate" class="form-control" formControlName="startDate" placeholder="Start Date">
    </div>
    <div class="form-group">
      <label for="endDate">End Date</label>
      <input bsDatepicker type="text" id="endDate" class="form-control" formControlName="endDate" placeholder="End Date">
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-block btn-primary" (click)="editManager()" [disabled]="editForm.invalid">OK</button>
</div>