<div class="modal-header">
  <h4 class="modal-title pull-left">{{ title }}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="editForm" (ngSubmit)="editSeason()" class="form">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" id="name" class="form-control" formControlName="name" placeholder="Name">
    </div>
    <div class="form-group">
      <label for="startDate">Start Date</label>
      <input bsDatepicker type="text" id="startDate" class="form-control" formControlName="startDate" placeholder="Start Date">
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-block btn-primary" (click)="editSeason()" [disabled]="editForm.invalid">OK</button>
</div>