<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">Premier League</a>
  <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [collapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/clubs">Clubs</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/players">Players</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/fixtures">Fixtures</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/results">Results</a>
      </li>
      <li dropdown *appHasRole="['Admin']" class="nav-item dropdown" routerLinkActive="active">
        <a dropdownToggle class="nav-link dropdown-toggle">Admin</a>
        <div *dropdownMenu class="dropdown-menu">
          <a class="dropdown-item" routerLink="/admin/seasons">Season Manager</a>
          <a class="dropdown-item" routerLink="/admin/stadiums">Stadium Manager</a>
          <a class="dropdown-item" routerLink="/admin/clubs">Club Manager</a>
          <a class="dropdown-item" routerLink="/admin/players">Player Mananger</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/about">About</a>
      </li>
      <li *ngIf="!isLoggedIn()" class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/register">Register</a>
      </li>
      <li *ngIf="!isLoggedIn()" class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li *ngIf="isLoggedIn()" class="nav-item" routerLinkActive="active">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>