<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Premier League</a>
  <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [collapse]="isCollapsed">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Clubs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Players</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Fixtures</a>
      </li>
      <li dropdown class="nav-item dropdown">
        <a dropdownToggle class="nav-link dropdown-toggle" href="#">Admin</a>
        <div *dropdownMenu class="dropdown-menu">
          <a class="dropdown-item" href="#">Club Manager</a>
          <a class="dropdown-item" href="#">Player Mananger</a>
        </div>
      </li>
    </ul>
  </div>
</nav>