<div class="modal-header">
  <h4 class="modal-title pull-left">{{ title }}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="addForm" (ngSubmit)="addCard()" class="form">
    <div class="form-group">
      <label for="clubId">Club</label>
      <ng-select #clubSelect [items]="clubs" [selectOnTab]="true" [clearable]="false" bindValue="id" bindLabel="name"
        placeholder="Select Club" formControlName="clubId" (change)="onClubChanged($event)">
      </ng-select>
    </div>
    <div class="form-group">
      <label for="playerId">Player</label>
      <ng-select [items]="players" [selectOnTab]="true" [clearable]="false" bindValue="id" bindLabel="name" placeholder="Select Player"
        formControlName="playerId">
      </ng-select>
    </div>
    <div class="form-group">
      <label for="cardType">Card Type</label>
      <ng-select [items]="cardTypes" [selectOnTab]="true" [clearable]="false" bindValue="id" bindLabel="name"
        placeholder="Select Card Type" formControlName="cardType">
      </ng-select>
    </div>
    <div class="form-group">
      <label for="cardTime">Card Time</label>
      <input type="number" id="cardTime" class="form-control" formControlName="cardTime" placeholder="Card Time">
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-block btn-primary" (click)="addCard()" [disabled]="addForm.invalid">Add</button>
</div>