<div class="container mt-3">
  <h1 class="text-center">{{ club.name }}</h1>
  <div class="row mt-3">
    <div class="col-lg-3">
      <div class="card">
        <img class="card-img-top" [src]="club.photoUrl" [alt]="club.name">
        <div class="card-body">
          <hr>
          <i class="fa fa-thumb-tack"></i><span class="font-weight-bold"> Established year: </span>
          <span>{{ club.establishedYear }}</span>
          <hr>
          <i class="fa fa-home"></i><span class="font-weight-bold"> Home field: </span>
          <span>{{ club.homeField }}</span>
        </div>
      </div>
    </div>
    <div class="col-lg-9">
      <div class="detail-tabs card h-100">
        <div class="card-body">
          <tabset>
            <tab heading="Squad">
              <app-club-squad [club]="club"></app-club-squad>
            </tab>
            <tab heading="Fixtures">
              <app-club-fixtures [club]="club"></app-club-fixtures>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
</div>