<div class="container mt-3">
  <h1 class="text-center">Players</h1>
  <div class="row mt-3">
    <div class="col-lg-4 col-md-6">
      <div class="d-flex flex-row align-items-center">
        <div class="col-3">
          <span class="font-weight-bold">Season: </span>
        </div>
        <div class="col-9">
          <ng-select [items]="seasons" [selectOnTab]="true" [clearable]="true" bindValue="id" bindLabel="name"
            placeholder="Select season" (change)="onSeasonFilterChanged($event)"></ng-select>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="d-flex flex-row align-items-center">
        <div class="col-3">
          <span class="font-weight-bold">Club: </span>
        </div>
        <div class="col-9">
          <ng-select [items]="clubs" [selectOnTab]="true" [clearable]="true" bindValue="id" bindLabel="name"
            placeholder="Select club" (change)="onClubFilterChanged($event)"></ng-select>
        </div>
      </div>
    </div>
  </div>
  <table class="table mt-3">
    <thead class="thead-light">
      <tr>
        <th scope="col">Player</th>
        <th scope="col">Club</th>
        <th scope="col">Number</th>
        <th scope="col">Position</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let player of players">
        <td><a class="player-name font-weight-bold" [routerLink]="['/players', player.id]">{{ player.name }}</a></td>
        <td>{{ player.clubName }}</td>
        <td>{{ player.number }}</td>
        <td>{{ player.position }}</td>
      </tr>
    </tbody>
  </table>
  <div class="pagination d-flex justify-content-center">
    <pagination *ngIf="players?.length > 0" [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.pageSize"
      (pageChanged)="onPageChanged($event)" [maxSize]="5" [boundaryLinks]="true" previousText="&lsaquo;" nextText="&rsaquo;"
      firstText="&laquo;" lastText="&raquo;"></pagination>
  </div>
</div>