<div class="container mt-3 mb-4">
  <h1 class="text-center">Players</h1>
  <div class="row mt-3">
    <div class="col-lg-4 col-md-6">
      <div class="d-flex flex-row align-items-center">
        <div class="col-3">
          <span class="font-weight-bold">Season: </span>
        </div>
        <div class="col-9">
          <ng-select #seasonSelect [items]="seasons" [selectOnTab]="true" [clearable]="false" bindValue="id" bindLabel="name"
            placeholder="Select Season" (change)="onSeasonFilterChanged($event)"></ng-select>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="d-flex flex-row align-items-center">
        <div class="col-3">
          <span class="font-weight-bold">Club: </span>
        </div>
        <div class="col-9">
          <ng-select #clubSelect [items]="clubs" [selectOnTab]="true" [clearable]="true" bindValue="id" bindLabel="name"
            placeholder="Select Club" (change)="onClubFilterChanged($event)"></ng-select>
        </div>
      </div>
    </div>
  </div>
  <table class="table mt-3">
    <thead class="thead-light">
      <tr>
        <th scope="col">Player</th>
        <th scope="col">Position</th>
        <th scope="col">Nationality</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let player of players">
        <td class="align-middle">
          <img class="player-img mr-2" [src]="player.photoUrl" [alt]="player.name">
          <a class="player-name font-weight-bold" [routerLink]="['/players', player.id]">{{ player.name }}</a>
        </td>
        <td class="align-middle">{{ player.positionType | positionType }}</td>
        <td class="align-middle">{{ player.nationality }}</td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="players?.length > 0" class="pagination d-flex justify-content-center">
    <pagination [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.pageSize" (pageChanged)="onPageChanged($event)"
      [maxSize]="5" [boundaryLinks]="true" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
  </div>
</div>