<div class="d-none d-md-block">
  <div class="row">
    <div class="col-6">
      <ul class="list-group">
        <li *ngFor="let goal of homeGoals" class="list-group-item d-flex justify-content-between align-items-center">
          <div>
            <a class="player-name font-weight-bold" [routerLink]="['/players', goal.playerId]">{{ goal.playerName }}</a>
            <span *ngIf="goal.isOwnGoal"> (OG)</span>
          </div>
          <span class="badge badge-primary badge-pill">{{ goal.goalTime }}</span>
        </li>
      </ul>
    </div>
    <div class="col-6">
      <ul class="list-group">
        <li *ngFor="let goal of awayGoals" class="list-group-item d-flex justify-content-between align-items-center">
          <span class="badge badge-primary badge-pill">{{ goal.goalTime }}</span>
          <div>
            <span *ngIf="goal.isOwnGoal">(OG) </span>
            <a class="player-name font-weight-bold" [routerLink]="['/players', goal.playerId]">{{ goal.playerName }}</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="d-block d-md-none">
  <ul class="list-group">
    <li *ngFor="let goal of allGoals" class="list-group-item d-flex justify-content-between align-items-center">
      <div>
        <span class="club-name">{{ goal.clubCode }} - </span>
        <a class="player-name font-weight-bold" [routerLink]="['/players', goal.playerId]">
          {{ goal.playerName }}
        </a>
        <span *ngIf="goal.isOwnGoal"> (OG)</span>
      </div>
      <span class="badge badge-primary badge-pill">{{ goal.goalTime }}</span>
    </li>
  </ul>
</div>