<div class="card h-100">
  <img class="card-img-top" [src]="squadPlayer.player.photoUrl" [alt]="squadPlayer.player.name">
  <div class="card-body">
    <h5 class="card-title">{{ squadPlayer.player.name }}</h5>
    <hr>
    <i class="fa fa-hashtag"></i><span> {{ squadPlayer.number }}</span>
    <hr>
    <i class="fa fa-user"></i><span> {{ squadPlayer.player.positionType | positionType }}</span>
  </div>
  <div class="card-footer">
    <a class="btn btn-block btn-sm btn-primary" [routerLink]="['/players', squadPlayer.player.id]">Player Detail</a>
  </div>
</div>