<ng-container [ngSwitch]="cellType">
  <app-text-table-cell *ngSwitchCase="'TextTableCellComponent'" [column]="column" [row]="row" [cell]="cell"></app-text-table-cell>
  <app-object-text-table-cell *ngSwitchCase="'ObjectTextTableCellComponent'" [column]="column" [row]="row" [cell]="cell"></app-object-text-table-cell>
  <app-piped-text-table-cell *ngSwitchCase="'PipedTextTableCellComponent'" [column]="column" [row]="row" [cell]="cell"></app-piped-text-table-cell>
  <app-image-table-cell *ngSwitchCase="'ImageTableCellComponent'" [column]="column" [row]="row" [cell]="cell"></app-image-table-cell>
  <app-actions-table-cell *ngSwitchCase="'ActionsTableCellComponent'" [column]="column" [row]="row" [cell]="cell"
    [cellChanged]="cellChanged"></app-actions-table-cell>
  <app-text-table-cell *ngSwitchDefault [column]="column" [row]="row" [cell]="cell"></app-text-table-cell>
</ng-container>